<%= form_for [@futsal_main, @branch] do |f|%>
<div class="form-group editgrp">
	<label>Name:</label>
	<%= f.text_field :name, {:class => 'form-control'}%>
	</br>
	<label>Location:</label>
	<%= f.text_field :location, {:class => 'form-control'}%>
	</br>
	<label>Phone Number:</label>
	<%= f.text_field :phone_number, {:class => 'form-control'}%>
	</br>
  <%=f.submit button_name, {:class => 'btn btn-success'} %>
<%end%>
<%=link_to 'Back',  futsal_main_futsal_branches_path, {:class => 'btn btn-info'}%>
